.App {
  text-align: center;
}

body {
  font-family: 'Quicksand', sans-serif;
}

h3 {
  color: #4aaad1;
}

.title-bg {
  background-color: #4aaad1;
}

.border-ui:not(:last-child) {
  border-bottom: 1px solid #e2e8f0;
}

.border-blue {
  border: 1px solid #5367ff;
}

.invest-font-family,
label {
  font-family: 'Inter Tight', sans-serif;
}

.bg-blue {
  background-color: #5367ff;
}